@use 'style' as style;

.markdown-editor {
}

.toolbar {
  border-bottom: 1px solid #737994;
  
}

.view-toggles {
  display: flex;
  gap: 1px;
}

.view-toggles > button.active {
  color: black;
}

.view-toggles button {
  padding: 4px 8px;
  border: 1px solid #737994;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: none;
  cursor: pointer;
}

.view-toggles button.active {
  background: #babbf1;
  border-color: #8b949e;
}

.editor-container {
  display: flex;
  min-height: 50vh;
}

.editor-container.split {
  gap: 16px;
}

.editor, .preview {
  flex: 1;
  padding: 16px;
  min-height: 50vh;
}

.editor {
  width: 100%;
  border: none;
  background-color: #232634;
  resize: vertical;
  font-family: style.$font-family;

}

.editor:focus {
  outline: none;
}

.preview {
  overflow-y: auto;
  p {
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  ul, li {
    margin-top: .5rem;
    margin-bottom: .5rem;
    line-height: 1.5;
  }
}

.conflictdialog {
  background-color: #232634;
  color: var(--text-color);
  border-color: #e5c890;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  > p {
    margin-bottom: 1rem;
  }
}

.vertical-middle {
  > * {
    vertical-align: middle;
  }
}